{% extends "master.html.twig" %} 
{% block title %}Forbidden{% endblock %} {%
    block content %}
    <p>
    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
            Access denied. You must be logged in to access this page.
            <a href="/">Click to continue</a>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        </div>
     
    </p>
    {% endblock %}