{% extends "master.html.twig" %} 
{% block title %}Home page{% endblock %}

{% block content %}
{% if flashMessage %}
<div class="container">
  <div
    class="alert alert-warning alert-dismissible fade show mt-4"
    role="alert"
  >
    {{ flashMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{% endif %}
    <div class="container">
        <h1>Welcome to SHOUTS!</h1>
    </div>
{% endblock content %}