{% extends "master.html.twig" %} 
{% block title %}Home page{% endblock %}

{% block content %}

<div class="container">
    <div
      class="alert alert-warning alert-dismissible fade show mt-4"
      role="alert"
    >
      <p>Page not found<a href="/"> Continue</a></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  
{% endblock content %}