{% extends "master.html.twig" %} 
{% block title %}Home page{% endblock %}

{% block content %}
{% if error %}
<div class="container pt-4">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Invalid username or password. Try again or <a href="/register">register</a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{% endif %}
{% if flashMessage %}
<div class="container">
  <div
    class="alert alert-warning alert-dismissible fade show mt-4"
    role="alert"
  >
    {{ flashMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
      <div class="col">
        <form method="post" class="mx-5 my-4 px-5 py-5 border">
          <h3 class="text-center form-text text-muted">Sign in</h3>
          <div class="form-group text-muted">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" id="username" />
          </div>
          <div class="form-group text-muted">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
            />
          </div>
          <button type="submit" class="btn btn-success-olive">Sign In</button>
          <small>or <a href="/register">Register</a></small>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}