{% extends "master.html.twig" %} 
{% block title %}Home page{% endblock %}

{% block content %}
<div class="container">
    <h2>You've been logged out succesfully</h2>
    <a href="/" class="btn btn-success-olive my-4">Return Home</a>
</div>
{% endblock content %}