{% extends "master.html.twig" %} 
{% block title %}Home page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
          <form
            method="POST"
            enctype="multipart/form-data"
            class="mx-5 my-4 px-5 py-5 border"
            id="registerUserForm"
          >
            <h3 class="text-center form-text text-muted">Register</h3>
            <div class="form-group text-muted">
              <label for="name">User name:</label>
              <input
                type="text"
                class="form-control"
                name="name"
                value="{{ v.name }}"
                id="name"
              />
            </div>
            <div class="form-group text-muted">
              <label for="pass1">Password:</label>
              <input type="password" class="form-control" name="pass1" id="pass1" />
            </div>
            <div class="form-group text-muted">
              <label for="pass1">Password (repeated):</label>
              <input type="password" class="form-control" name="pass2" id="pass2" />
            </div>
            <div class="form-group text-muted">
              <div>
                <label for="image">Profile Picture:</label>
              </div>
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="image"
                  name="image"
                />
                <label class="custom-file-label" for="image">Choose file...</label>
              </div>
            </div>
    
            <button type="submit" class="btn btn-success-olive">Register</button>
          </form>
        </div>
      </div>
</div>
{% endblock content %}