{% extends "master.html.twig" %} 
{% block title %}SHOUTS List{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-success-olive my-4" href="/shoutsadd">Add new SHOUT</a>
        </div>
        <div class="col">
            <div class="form-group text-muted">
                <label for="users">User Entries</label>
                <select class="form-control" id="users" name="users">
                  {% for u in users %}
                  <option value="{{ u.username }}">
                    {{ u.username }}
                  </option>
                  {% endfor %}
                </select>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>SHOUT id</h3>
        </div>
        <div class="col">
            <h3>Username</h3>
        </div>
        <div class="col">
            <h3>User Pic</h3>
        </div>
        <div class="col">
            <h3>User Message</h3>
        </div>
    </div>
    {% for s in shoutslist %}
        <div class="row">
            <div class="col">
                <div>{{ s.id }}</div>
            </div>

            <div class="col">
                <div>{{ s.username }}</div>
            </div>

            <div class="col">
                <div>
                    <img src="upload/{{ s.imagePath }}" alt="user picture"/>
                </div>
            </div>

            <div class="col">
                <div>{{ s.message }}</div>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock content %}