{% extends "master.html.twig" %} 
{% block title %}SHOUTS Add{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-md-8 offset-md-2">
          <div class="card my-4">
            <div class="card-header">
            </div>
            <div class="card-body mt-4">
                <span class="card-title h3 my-1 d-block text-muted">{{ user.username }} </span>
                <form method="POST" enctype="multipart/form-data" id="adsSendMessageForm">
                    <div class="form-group text-muted">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="3" name="message">
                            {{ v.message }}
                        </textarea>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="SHOUT" class="btn btn-success-olive"/>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock content %}