#searchBar {
    position: relative;
    top: 20px;
    right: 5px;
  }
  #setLocation {
    position: relative;
    top: 20px;
    left: 5px;
  }
  
  /* My profile card  */
  .card .card-header {
    height: 100px;
    background-color: #8a9b68;
  }
  
  .card .card-header-image,
  .card .image-placeholder {
    width: 100px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    background-color: aliceblue;
  }
  
  .btn-success-olive {
    background-color: #8a9b68;
    border-color: #8a9b68;
    color: #ffffff;
  }
  
  .btn-success-olive:hover {
    color: #fff;
    background-color: #697948;
    border-color: #697948;
  }
  
  .btn.focus,
  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(173 187 144 / 25%);
  }
  
  .error {
    color: red;
  }
  /*sddetails page styles*/
  .addetail-container {
    max-width: 500px;
  }
  
  #searchBar {
    margin-left: 10px;
  }
  .location-bar {
    margin-left: 25px;
  }
  .bg-img {
    background-image: url("/img/germanvillage4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
  }
  .navBG {
    background: rgba(255, 255, 255, 0.8);
    font-weight: bold;
  }
  .topnav {
    padding-top: 20px;
  }
  .nav-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .search-box {
    margin-bottom: 25px;
  }
  .register {
    margin-right: 25px;
  }
  ul {
    list-style-type: none;
  }
  .signInCard {
    background-color: #d5ddbc;
  }
  .btn-white {
    background-color: #8a9b68;
    color: #ffffff;
  }
  
  /* Category Page */
  
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }
  .vertical-tab {
    background: linear-gradient(#fff, #f5f5f5, #fff);
    font-family: "Poppins", sans-serif;
    display: table;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .vertical-tab .nav-tabs {
    background-color: #fff;
    display: table-cell;
    width: 25%;
    min-width: 25%;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
  .vertical-tab .nav-tabs li {
    float: none;
  }
  .vertical-tab .nav-tabs li a {
    color: #2e86de;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    /* padding: 12px 10px 10px; */
    margin: 0 0 10px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0.1s;
  }
  .vertical-tab .nav-tabs li a:hover,
  .vertical-tab .nav-tabs li.active a,
  .vertical-tab .nav-tabs li.active a:hover {
    /* color: #fff; */
    /* background: #2e86de; */
    border: none;
    /* box-shadow: 0 0 10px -4px #2e86de; */
  }
  .vertical-tab .nav-tabs li a:before {
    content: "";
    background-color: #2e86de;
    height: 100%;
    width: 0;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    transition: all 0.4s ease 0s;
  }
  .vertical-tab .nav-tabs li a:hover:before,
  .vertical-tab .nav-tabs li.active a:before,
  .vertical-tab .nav-tabs li.active a:hover:before {
    width: 100%;
    opacity: 0;
  }
  .vertical-tab .tab-content {
    color: #888;
    background: transparent;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 21px;
    padding: 15px 15px 10px 15px;
    display: table-cell;
  }
  .vertical-tab .tab-content h3 {
    color: #2e86de;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 4px;
  }
  @media only screen and (max-width: 479px) {
    .vertical-tab .nav-tabs {
      width: 100%;
      display: block;
    }
    .vertical-tab .nav-tabs li:last-child a {
      margin: 0;
    }
    .vertical-tab .tab-content {
      font-size: 14px;
      display: block;
    }
  }
  
  /* footer*/
  footer {
    background-color: #8a9b68;
  }
  